body {
	font-size:100px;
}
.social {
	width:2em;
	height:2em;
	/*background-color:#000000;*/
	float:left;
}

.avatar {
	border-radius:50%;
	width:2em;
	height:2em;
	background-color:#000000;
	border:3px solid #3593c9;
	position:absolute;
	z-index:1;
}
.icon {
	position:absolute;
	width:0.32em;
	height:0.32em;
}

.facebook {
	top:1.82em;
	left:1.47em;
	z-index:2;
}
.printerest {
	top:1.98em;
	left:0.95em;
	z-index:2;
}

.tumbler {
	top:1.47em;
	left:1.82em;
	z-index:2;
	
}

.twitter {
	top:0.23em;
	left:0.23em;
	z-index:2;

}

.red {
	background-color:#d8464c;
}
.navy-blue {
	background-color:#364f86;
	left:0.05em;
	top:0.05em;
}
.blue {
	background-color:#0089b2;
	left:0.1em;
	top:0.1em;
}

.central {
	width:6em;
	height:6em;
	position:relative;
	margin: auto;
	
}

.central div {
	position: absolute;
	margin-top:1.7em;
	width:4.6em;
	height:6.1em;
}

.notification {
	width:330px;
	height:131px;
	background-color:rgba(0, 0, 0, 0.5);
	position:fixed;
	right:0px;
	bottom:100px;
	display:block;
	font-size:12px;
}

.float {
	float:left;
}
.notification img {
	width: 86px;
	height:86px;
	margin-top:24px;
	margin-left:24px;
	margin-right:16px;
	
}

.notification div {
	margin-top:20px;
	width:180px;
	color:#ffffff;
	font-family:Tahoma;
}
/*
* {
	border:1px solid #000000
}
*/