body {
	background-color: #fbfbfb;
	color: #777777;
	font-family: "Myriad Pro", Helvetica, sans-serif;
	margin-bottom: 0;
}

html, body, .wrapper {
	height: 100%; 
	/*min-height: 100%;*/
}

.wrapper {
	min-height: 100%;
}

body * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	color: #bbbbbb;
}

ul {
	padding-left: 0;
	list-style: none;
}

.content {
  	min-height: 100%;
	width: 940px;
	margin: 0 auto;
  	padding-bottom: 92px;
}


.stretch-vertical {
	height: 100%;
}

.centred-text {
	text-align: center;
}

.inner-vertical-line {
	height: 62.5%;
	border-left: 1px solid #eaeaea;
}

.vertical-line {
	height: 100%;
	border-left: 1px solid #eaeaea
}

.stretch {
	width: 100%;
}

.standart-border {
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
}

.round-corners {
	border-radius: 4px;
}


.inner-inline > * {
	display: inline;
}

.inner-block > * {
	display: block;
}

.inner-inline-block > * {
	display: inline-block;
	vertical-align: middle;
}


.float-right {
	float: right;
}

.float-left {
	float: left;
}

button {
	background: none;
	border: none;
	text-align: center;
	color: #777777;
}

	button:hover {
		color: #444444;
	}

ul {
	margin: 0;	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}

h4 {
	font-size: 13px;
	font-weight: normal;
}

h4.underline {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 5px;
}

h5 {
	margin-top: 5px;
	margin-bottom: 4px;
	font-size: 12px;
}

input[type=checkbox] {
 	display: none;
}

figure {
	margin: 0;
	position: relative;
	font-size: 0;
}

	figcaption p {
		font-size: 11px;
		margin: 0;
	}

	.inner-caption {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		font-size: 16px;
	}

		.inner-caption li {
			height: 30px;
			width: 26px;
		}

	.split-lines li {
		position: relative;
	}

		.slider a {
			text-align: center;
			padding-top: 6px;
			display: inline-block;
			height: 100%;
			width: 100%;
			background-color: #555555;
			color: #ffffff;
		}


		.split-lines li:after {
			content: "|";
			margin-left: -1px;
			position: absolute;
			color: #717171;
		}

		.slider li:after {
			right: -2px;
			top: 6px;
		}

		.slider .current:after, .split-lines li:last-child:after {
			content: "";
		}


		.slider .current a {
			background-color: #fdcc05;
		}

		.slider a:hover {
			background-color: #866c00;
		}



.classic-checkbox:checked + label:before  {
	/*content: "!!!";*/
	background-position: -398px -41px;
}



.classic-checkbox + label:before {
	vertical-align: middle;	
 	display: inline-block;
 	/*font-size: 20px;*/
 	/*text-align: center;*/
 	content: "";
 	background-color: #ffffff;

 	border-radius: 1px;
 	border: 1px solid #e3e3e3;
 	margin-right: 10px;

	background-image: url('../img/other-spritesheet.png');
	background-repeat: no-repeat;

	background-position: -398px -6px;
	width: 17px;
	height: 17px;
}
 


/*.button-left {
	border-left: 1px solid #eaeaea;
	padding-top: 4px;
	padding-bottom: 4px;
}

.button-right {
	border-right: 1px solid #eaeaea;
	padding-top: 4px;
	padding-bottom: 4px;
}*/


header > * 	{
	display: inline-block;
	vertical-align: top;
}

	.search {
		width: 444px;
		/*padding: 10px*/
		margin-left: 146px;
		position: relative;
	}

		.search-field {
			height: 50px;

		}
	.loupe {
		margin-right: 5px;
		margin-left: 5px;
	}
	/*.search-block {
		height: 100%;
	}
*/
	/*.search-block > * {
		height: 100%;
	}*/

	.inner-input-text {
		border: none;
		outline: none;
		font-size: 15px;
	}

	.inner-input-text::-webkit-input-placeholder/*, , :-ms-input-placeholder*/ {		
		font-style: italic;
		color: #e7e7e7;
		font-size: 15px;
	}

	.inner-input-text::-moz-placeholder {
		font-style: italic;
		color: #e7e7e7;
		font-size: 15px;
	}

	.inner-input-text:-ms-input-placeholder {
		font-style: italic;
		color: #e7e7e7;
		font-size: 15px;
	}
	
	/*input[type=checkbox].search-checkbox + label:after {*/
	.label-categories:after {
	 	vertical-align: middle;	
	 	display: inline-block;
		background-image: url('../img/other-spritesheet.png');
		background-repeat: no-repeat;
		background-position:  -13px -15px;
		width: 18px;
		height: 9px;
	 	content: "";
	 	margin-left: 5px;
	}
	
	.categories-active {
		padding-top: 6px;
		background-color: #ffffff;	
	}

	.categories-active:after {
		background-position: -13px -32px;
	}
	/*input[type=checkbox].search-checkbox + label:hover {*/
	.label-categories:hover {
		color: #999999;
	}
	.label-categories {
		text-align: center;
		width: 140px;
		color: #cacaca;
	}

	.categories {
		display: none;
		z-index: 5;
	}

		.cat-select {
			height: 40px;
			/*border-top: 1px solid #f1f1f1;*/
		}

		.frame-for-selected {
			position: absolute;
			top: -40px;
		    left: 257px;
		    width: 145px;
			height: 40px;
			background-color: #ffffff;
			/*background-color: transparent;*/
			border-bottom: 1px solid #ffffff;
			/*z-index: 20;*/
			/*does not work in IE10*/
			/*pointer-events: none;*/
		}
			.frame-for-selected label {
				display: block;
			}

	.cat-list {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
		-webkit-column-gap: 0px; 
	    -moz-column-gap: 0px; 
	    column-gap: 0px;

		/*padding: 0;*/
		/*list-style: none;*/
	}


	/*.search-checkbox:checked + label {*/
		/*color: black;*/
		/*border-top: none;*/
	/*}*/

	.search-checkbox:checked ~ .categories {
		display: block;
		top: 48px;
		left: -1px;
		width: 444px;
		position: absolute;
		/*border-top: none;*/
	}

	.category-checkbox + label:before {
	 	vertical-align: middle;	
	 	display: inline-block;
		content: "x";
		width: 14px;
		margin-right: 5px;
		margin-left: 5px;
	}

	.category-checkbox:checked + label:before {
		background-image: url('../img/other-spritesheet.png');
		background-repeat: no-repeat;
		content: "";
		background-position:  -399px -22px;
		width: 14px;
		height: 14px;
	}

	.cat-list li {
		color: #b0b0b0;

	}

	.cat-list li label {
		display: inline-block;
		height: 100%;
		width: 100%;
		margin-left: 4px;
		margin-right: 4px;
		padding-top: 8px;
		padding-bottom: 4px;
		/*text-align: center;*/
	}

	.cat-list li:nth-child(2n+1) label {
		background-color: #ececec;
	}

	.cat-list li:nth-child(2n+1) .category-checkbox:checked + label {
		background-color: #555555;
	}

	.cat-list li:nth-child(2n) label {
		background-color: #f4f4f4;
		border: 1px solid #dddddd;
	}

	.cat-list li:nth-child(2n) .category-checkbox:checked + label {
		background-color: #444444;
	}

	.cat-list li:hover label{
		background-color: #dbdbdb;
	}
	
	.cat-list li:hover .category-checkbox:checked + label{
		background-color: #666666;
	}
	

	/*input[type=checkbox].search-checkbox:checked + label:after {
		background-position:  -13px -32px;
	}*/

	.submit {
		margin-left: 6px;
		margin-right: 11px;
	}


	.submit:hover {
		background-position: -67px -14px;
	}

	.login-field {
		height: 50px;
		font-size: 14px;
	}


		.login-field .centred-text {
			width: 75px;
		}

		a.sign-up:hover > i {
			background-position: -15px -75px;
		}

		a.log-in:hover > i {
			background-position: -39px -75px;
		}
	
	.navigation-menu {
		height: 96px;
		margin-bottom: 40px;
		/*background-color: black;*/
		position: relative;
	}

		.background-line { 
			position: absolute;
			top: 50%;

			border-top: 5px solid #777777;
			z-index: -5;
		}

		.menu-list {
			width: 99%;
		}

		.menu-list li {
			position: relative;
			/*width: 38px;*/
			/*height: 60px;	*/
			margin-left: 37px;
			margin-right: 38px;
			/*background-color: #fbfbfb;*/
			text-align: center;
		}

		.menu-list div {
			position: relative;
			display: block;
			background-color: #fbfbfb;
			width: 38px;
			height: 40px;
			text-align: center;
		}

			.menu-list div i {
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}

		.menu-list li span {
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translate(-50%);
		}

		.selected a {
			color: #fdcc05;
		}
		.selected span {
			text-transform: uppercase;
		}

		
		.selected i {
			background-image: url('../img/menu-spritesheet-active.png');
		}
		/*.menu-list a:hover i {
			border: 1px solid #bbbbbb;
			background-position-y: -61px;
		}*/


		.selected a:hover {
			color: #d7ad00;
		}
		
		/*.selected */
		.navigation-menu a:hover i {
			background-image: url('../img/menu-spritesheet-active.png');
			/*border: 1px solid #d7ad00;*/
		}

.flip {
	transform: scaleX(-1);
}




.submenu-list {
	width: 170px;
	text-align: center;
	font-size: 12px;
	font-weight: 500;

	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	-webkit-column-gap: 3px; 
	-moz-column-gap: 3px; 
	column-gap: 3px;

	border-right: 1px solid #eaeaea;
	padding-right: 10px;
}

	

	.submenu-list li {
		/*padding-top: 10px;*/


		height: 68px;
		width: 78px;
		margin-bottom: 6px;
	}
	
	.submenu-list p {
		margin-top: 10px;
	}
	.submenu-list a {
		padding-top: 10px;
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.submenu-list a:hover {
		background-color: #555555;
		color: #ffffff;
	}
	
	.submenu-list a:hover i {
		background-image: url('../img/submenu-spritesheet-active.png');
	}


.filter-list {
	margin-bottom: 16px;
}

	.filter-list li {
		margin-right: 7px;
	}

	.filter-list li:last-child {
		margin-right: 0;
	}

	.filter-list a {
		padding-top: 8px;
		font-size: 12px;
		display: inline-block;
		width: 78px;
		height: 30px;
		text-align: center;
		position: relative;
	}		

		.filter-list a:hover {
			text-transform: uppercase;
			border-color: #555555;
			background-color: #555555;
			color: #ffffff;
		}

		.filter-list a:hover:after {
			position: absolute;
			content: " ";
			bottom: -10px;
			left: 50%;
			transform: translate(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #555555 transparent transparent transparent;
		}
	
	.pause {
		display: inline-block;
		padding-right: 3px;
		height: 100%;
		width: 52px;
		height: 52px;
	}

.current-selection {
	width: 504px;
}

	.outer-caption {
		max-width: 450px;
		padding: 5px 15px 5px 15px;
	}

.main {
	margin-left: 10px;
	vertical-align: top;
}

	.latest-news {
		margin-top: 12px;
		height: 32px;
	}
		.latest-news > i {
			margin-left: 10px;
			/*margin-right: 5px;*/
		}

		.latest-news h5 {
			margin-right: 18px;
			margin-left: 10px;
			font-weight: normal;
		}

		.latest-news .slider li {
			width: 40px;
			height: 30px;
		}

.dropdown-list {
	width: 140px;
	vertical-align: top;
	position: relative;
	left: -1px;
	top: 3px;
	z-index: 5;
}
	.dropdown-list li {
		text-align: center;
	}

	/*.dropdown-list .current:before {
		content: "";
		height: 61.5%;
		display: inline-block;
		border-left: 1px solid #000;
	}*/

	.dropdown-list .current {
		font-size: 12px;
		margin-top: 3px;
		/*padding: 3px 35px 0 35px;*/
		padding-top: 3px;
		height: 25px;
	}



	.dropdown-list .current ~ li {
		background-color: #ffffff;
		display: none;
		height: 35px;
		/*width: 140px;*/
	}

	.dropdown-list:hover li{
		display: block;
	}

	.dropdown-list a {
		width: 100%;
		height: 34px;
		padding-top: 10px;
		display: block;
	}

	.dropdown-list a:hover {
		background-color: #555555;
		color: #ffffff;
	}

	.dropdown-list:hover {
		border: 1px solid #f1f1f1;
	}
	
	.dropdown-list:hover .current {
	 	border-bottom: 1px solid #f1f1f1;
	}


.right-slider .inner-vertical-line {
	margin-left: 8px;
	margin-right: 8px;
}

	.right-slider a:hover {
		background-position:  -67px -14px;
	}



.aside {
	padding-left: 15px;
	border-left: 1px solid #eaeaea;
	width: 240px;
	margin-bottom: 16px;
}

	.aside > *{
		width: 100%;
		margin-bottom: 20px;
	}



	.aside-header {
		margin-bottom: 5px;
	}
	
		/*.aside-header .inner-vertical-line {
		}*/
	.aside-header, .standart-button {
		height: 32px;
		padding-right: 5px;
	}

		.aside-header i, .standart-button i {
			margin-left: 7px;
			margin-right: 7px;
		}

		.aside-header p, .standart-button p {
			font-size: 11px;
			margin: 0;
		}

	.aside-block {
		margin-bottom: 5px;
		/*margin-top: 5px;*/
		/*margin-bottom: 0;*/
		padding: 5px;
	}

	/*.news-mini, .video {
	}*/
		.news-mini h4 {
			margin-top: 10px;
			margin-bottom: 0;
		}

		.news-mini p {
			color: #b3b3b3;
		}
		
		.news-mini {
			position: relative;

		}

	.video {
		position: relative;
	}

		.video figcaption, .video i {
			position: absolute;
			bottom: 0;
			margin: 5px;
			/*left: 0;*/
		}

		.video i {
			right: 0;
		}

		.video a:hover i {

			background-position:  -270px -60px;
		}

		.video h4, .video p {
			color: #ffffff;
		}

	.event p {
		margin-top: 10px;
	}
	.event a {
		position: relative;
	}

	.event a span {
		/*margin: 5px;*/
		position: absolute;
		bottom: 5px;
		left: 7px;
		font-size: 10px;
		color: #ffffff;
	}
	.event a i {
		margin-right: 3px;
	}

	.standart-button .inner-vertical-line {
			margin-left: 0px;
			margin-right: 6px;
	} 

	.shop:hover i {
		background-position:  -155px -79px;
	}

	.subscribe:hover i {
		background-position:  -244px -39px;
	}

.rating-block {
	width: 80px;
}
	.rating {
		margin-top: 10px;
	}

		.rating li {
			margin-right: 2px;
		}

		.rate ~ li a {
			
			background-position:  -67px -85px;
		}

		.rating:hover a {
			background-position:  -83px -69px;
		}

		.rating li:hover ~ li a {
			background-position:  -83px -85px;
		}

	.rating-block p {
		font-size: 11px;
		margin-top: 2px;
		margin-bottom: 0;
	}

.news {
	max-width: 700px;
	margin-top: 12px;
}

.news-block {
	width: 340px;
	padding: 4px;
	min-height: 238px;
	vertical-align: top;
	margin-bottom: 8px;
	position: relative;
}
	.news-block:hover:before {
		top: 0;
		left: 0;
		content: "";
		position: absolute;
		background:rgba(253,204,5,0.5);
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	.news-block:hover:after {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url('../img/other-spritesheet.png');
		background-position: -318px -18px;
		width: 74px;
		height: 75px;
		z-index: 6;
	}

	.news-block p {
		font-size: 12px;
		color: #989898;
	}

	.news-block:nth-child(2n+1) {
		margin-right: 8px;
	}

.news-mini-block {
	padding: 4px
}

.magazines {
	padding-top: 16px;
	border-top: 1px solid #eaeaea
}

	.magazines .aside-header {
		margin-bottom: 15px;
	}


	.magazine {
		width: 227px;
		position: relative;
		padding: 8px 5px 8px 5px;
		margin-right: 7px;
	}

		.magazine figure {
			/*margin: 8px 5px 8px 5px;*/
			padding: 15px 5px 5px 5px;
			text-align: center;
		}

			.magazine figcaption {
				font-size: 13px;
				margin-top: 15px;
			}

		.magazine .standart-button {
			position: absolute;
			border-right: none;
			border-bottom: 0;
			right: 0;
			bottom: 0;
		}

		.magazine .standart-button:hover i {
			background-position:  -119px -43px;
		}

		.magazine:nth-child(4n+4) {
			margin-right: 0;
		}

.footer {
	position: relative;
	margin-top: -76px;
	height: 76px;
	clear: both;
	background-color: #1f1f1f;
	padding: 20px;
	min-width: 940px;
}

	.bottom-form {
		/*margin: 20px;*/
	}

		.bottom-form input[type="text"] {
			height: 38px;
			width: 336px;
			/*border-radius: 2px;*/
			padding-left: 7px;
			background-color: #282828;
			color: #ffffff;
			border: none;
			box-shadow: inset 0 1px 1px #000000;
		}

			.bottom-form input[type="text"]::-webkit-input-placeholder {		
				font-style: italic;
				color: #595959;
				font-size: 14px;
			}

			.bottom-form input[type="text"]::-moz-placeholder {
				font-style: italic;
				color: #595959;
				font-size: 14px;
			}

			.bottom-form input[type="text"]:-ms-input-placeholder {
				font-style: italic;
				color: #595959;
				font-size: 14px;
			}
		.bottom-form input[type="submit"] {
			width: 102px;
			height: 33px;
			border: 1px solid #292929;
			border-radius: 4px;
			background-color: #1f1f1f;
			font-size: 13px;
			color: #848484;
			margin-left: -106px;
			margin-right: 15px;
		}

		.bottom-form input[type="submit"]:hover {
			background-color: #4a4a4a;
			border-color: #959595;
		}

		.facebook, .twitter, .youtube {
			background: none;
			border: none;
			text-align: center;
			margin-right: 5px;
		}

		.facebook:hover {
			background-position: -150px -47px;
		}

		.twitter:hover {
			background-position: -173px -48px;
		}

		.youtube:hover {
			background-position: -215px -51px;
		}

	.footer-nav {
		/*margin: 20px;*/
		font-size: 12px;
		text-align: center;
		color: #444444;
	}

		.footer-nav .split-lines li {
			margin-left: 7px;
			margin-right: 9px;
		}

		.footer-nav .split-lines li:after {
			right: -8px;
		}

		.footer-nav a {
			color: #bbbbbb;
		}

		.footer-nav a:hover {
			color: #999999;
		}
	/*.split-lines li:after {
			content: "|";
			margin-left: -1px;
			position: absolute;
			color: #717171;
			right: -2px;
			top: 6px;
		}

		.slider .current:after, .split-lines li:last-child:after {
			content: "";
		}*/


.end {
	margin-bottom: 0;
}

.darker-background {
	background-color: #fbfbfb;
}


/*


.sprite-star {
	background-position:  -67px -69px;
	width: 13px;
	height: 12px;
}

.sprite-star-hollow {
	background-position:  -67px -85px;
	width: 13px;
	height: 12px;
}

.sprite-star-green {
	background-position:  -83px -69px;
	width: 13px;
	height: 12px;
}

.sprite-star-green-hollow {
	background-position:  -83px -85px;
	width: 13px;
	height: 12px;
}

*/














/*Menu sprites*/
.sprite-menu {
	background-image: url('../img/menu-spritesheet.png');
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-menu-hover {
	background-image: url('../img/menu-spritesheet-active.png');
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}


.sprite-house {
	background-position: -11px -14px;
	width: 26px;
	height: 24px;
}
/*
.sprite-house-hover {
	background-position: -11px -61px;
	width: 26px;
	height: 24px;
}*/

.sprite-photo {
	background-position: -61px -14px;
	width: 26px;
	height: 18px;
}

/*.sprite-photo-hover {
	background-position: -61px -61px;
	width: 26px;
	height: 18px;
}
*/
.sprite-camera {
	background-position: -113px -14px;
	width: 26px;
	height: 14px;
}

/*.sprite-camera-hover {
	background-position: -113px -61px;
	width: 26px;
	height: 14px;
}
*/
.sprite-environment {
	background-position: -161px -14px;
	width: 25px;
	height: 25px;
}

/*.sprite-environment-hover {
	background-position: -161px -61px;
	width: 25px;
	height: 25px;
}
*/
.sprite-travel {
	background-position: -213px -14px;
	width: 26px;
	height: 17px;
}

/*.sprite-travel-hover {
	background-position: -213px -61px;
	width: 26px;
	height: 17px;
}
*/
.sprite-adventure {
	background-position: -258px -14px;
	width: 26px;
	height: 25px;
}

/*.sprite-adventure-hover {
	background-position: -258px -61px;
	width: 26px;
	height: 25px;
}*/

.sprite-tv {
	background-position: -309px -14px;
	width: 26px;
	height: 26px;
}

/*.sprite-tv-hover {
	background-position: -309px -61px;
	width: 26px;
	height: 26px;
}*/

.sprite-baby {
	background-position: -361px -14px;
	width: 21px;
	height: 29px;
}
/*
.sprite-baby-hover {
	background-position: -361px -61px;
	width: 21px;
	height: 29px;
}
*/

.sprite-submenu {
	background-image: url('../img/submenu-spritesheet.png');
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-submenu-hover {
	background-image: url('../img/submenu-spritesheet.png');
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}


.sprite-news {
	background-position:  -25px -21px;
	width: 26px;
	height: 22px;
}

/*.sprite-news-hover {
	background-position:  -67px -20px;
	width: 26px;
	height: 22px;
}*/

.sprite-magazine {
	background-position:  -25px -384px;
	width: 26px;
	height: 26px;
}

/*.sprite-magazine-hover {
	background-position:  -67px -384px;
	width: 26px;
	height: 26px;
}
*/
.sprite-maps {
	background-position:  -23px -92px;
	width: 26px;
	height: 26px;
}

/*.sprite-maps-hover {
	background-position:  -65px -92px;
	width: 26px;
	height: 26px;
}*/

.sprite-science {
	background-position:  -26px -456px;
	width: 23px;
	height: 26px;
}

/*.sprite-science-hover {
	background-position:  -68px -456px;
	width: 23px;
	height: 26px;
}*/

.sprite-education {
	background-position:  -21px -172px;
	width: 32px;
	height: 22px;
}
/*
.sprite-education-hover {
	background-position:  -63px -172px;
	width: 32px;
	height: 22px;
}
*/
.sprite-games {
	background-position:  -23px -531px;
	width: 26px;
	height: 25px;
}

/*.sprite-games-hover {
	background-position:  -65px -531px;
	width: 26px;
	height: 25px;
}*/

.sprite-events {
	background-position:  -24px -245px;
	width: 26px;
	height: 26px;
}

/*.sprite-events-hover {
	background-position:  -66px -245px;
	width: 26px;
	height: 26px;
}*/

.sprite-blogs {
	background-position:  -26px -609px;
	width: 26px;
	height: 26px;
}

/*.sprite-blogs-hover {
	background-position:  -68px -609px;
	width: 26px;
	height: 26px;
}*/

.sprite-explorers {
	background-position:  -27px -321px;
	width: 19px;
	height: 26px;
}

/*.sprite-explorers-hover {
	background-position:  -69px -321px;
	width: 19px;
	height: 26px;
}*/

.sprite-trips {
	background-position:  -27px -688px;
	width: 26px;
	height: 21px;
}

/*.sprite-trips-hover {
	background-position:  -69px -688px;
	width: 26px;
	height: 21px;
}
*/
.sprite-other {
	background-image: url('../img/other-spritesheet.png');
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-arrow-bottom {
	background-position:  -13px -15px;
	width: 18px;
	height: 9px;
}

.sprite-arrow-bottom-active {
	background-position:  -13px -32px;
	width: 18px;
	height: 9px;
}

.sprite-sign-in {
	background-position:  -15px -52px;
	width: 16px;
	height: 16px;
}

.sprite-sign-in-hover {
	background-position:  -15px -75px;
	width: 16px;
	height: 16px;
}

.sprite-loupe {
	background-position:  -39px -15px;
	width: 21px;
	height: 21px;
}

.sprite-login {
	background-position:  -39px -52px;
	width: 14px;
	height: 16px;
}

.sprite-login-hover {
	background-position:  -39px -75px;
	width: 14px;
	height: 16px;
}

.sprite-next-hover {
	background-position:  -67px -14px;
	width: 22px;
	height: 22px;
}

.sprite-next {
	background-position:  -67px -41px;
	width: 22px;
	height: 22px;
}

.sprite-star {
	background-position:  -67px -69px;
	width: 13px;
	height: 12px;
}

.sprite-star-hollow {
	background-position:  -67px -85px;
	width: 13px;
	height: 12px;
}

.sprite-star-green {
	background-position:  -83px -69px;
	width: 13px;
	height: 12px;
}

.sprite-star-green-hollow {
	background-position:  -83px -85px;
	width: 13px;
	height: 12px;
}

.sprite-list {
	background-position:  -99px -18px;
	width: 16px;
	height: 14px;
}

.sprite-plus {
	background-position:  -96px -43px;
	width: 17px;
	height: 17px;
}

.sprite-plus-hover {
	background-position:  -119px -43px;
	width: 17px;
	height: 17px;
}

.sprite-clock {
	background-position:  -102px -74px;
	width: 15px;
	height: 15px;
}

.sprite-table {
	background-position:  -123px -18px;
	width: 16px;
	height: 16px;
}


.sprite-facebook {
	background-position:  -150px -13px;
	width: 13px;
	height: 25px;
}

.sprite-facebook-hover {
	background-position:  -150px -47px;
	width: 13px;
	height: 25px;
}

.sprite-shop {
	background-position:  -132px -79px;
	width: 18px;
	height: 18px;
}

.sprite-shop-hover {
	background-position:  -155px -79px;
	width: 18px;
	height: 18px;
}

.sprite-twitter {
	background-position:  -173px -14px;
	width: 30px;
	height: 25px;
}

.sprite-twitter-hover {
	background-position:  -173px -48px;
	width: 30px;
	height: 25px;
}

.sprite-calendar {
	background-position:  -188px -82px;
	width: 16px;
	height: 16px;
}

.sprite-calendar-hover {
	background-position:  -212px -82px;
	width: 16px;
	height: 16px;
}

.sprite-play {
	background-position:  -215px -17px;
	width: 19px;
	height: 19px;
}

.sprite-play-hover {
	background-position:  -215px -51px;
	width: 19px;
	height: 19px;
}

.sprite-subscription {
	background-position:  -244px -14px;
	width: 18px;
	height: 18px;
}

.sprite-subscription-hover {
	background-position:  -244px -39px;
	width: 18px;
	height: 18px;
}

.sprite-video {
	background-position:  -245px -66px;
	width: 16px;
	height: 12px;
}

.sprite-favorite {
	background-position:  -244px -85px;
	width: 16px;
	height: 16px;
}

.sprite-play-video {
	background-position:  -270px -17px;
	width: 36px;
	height: 36px;
}

.sprite-play-video-hover {
	background-position:  -270px -60px;
	width: 36px;
	height: 36px;
}

.sprite-add {
	background-position: -318px -18px;
	width: 74px;
	height: 75px;
}

.sprite-almost-white {
	background-position: -400px -8px;
	width: 13px;
	height: 12px;
}

.sprite-white {
	background-position:  -400px -25px;
	width: 13px;
	height: 12px;
}

.sprite-checked-dark {
	background-position: -400px -43px;
	width: 13px;
	height: 12px;
}

.sprite-unchecked {
	background-position: -400px -62px;
	width: 7px;
	height: 8px;
}

.sprite-clock {
	background-position: -400px -62px;
	width: 13px;
	height: 13px;
}

.sprite-magazine-mini {
	background-position: -400px -83px;
	width: 15px;
	height: 15px;
}