.sticky-footer {
    /*position: relative;*/
    /*bottom: 0;*/
    /*height: 20px;*/
    /*margin-top: 70px;*/
    padding: 5px;
    background-color: #a3362b;

    display: flex;
    justify-content: flex-end;
}
    .sticky-footer a {
        color: white;
        font-weight: bold;
    }
    .sticky-footer .author {
        margin-right: 5px;
    }

.sticky-footer {
    height: 20px;
}
