a {
    text-decoration: none;
    color: black;
}
    a:hover {
        text-decoration: none;
        color: gray;
    }
ul {
    list-style: none;
    padding-left: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

.top-container {
    position: relative;
}

*:focus {
    outline: 0;
}
