html, body, .container {
	height: 95%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: #716558;
	color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15px;
}


.content {
	overflow: hidden;
	vertical-align: middle;
	min-height: 100%
}
.left {
	background-color: #fbb040;
	width: 30%;

}

.right {
	background-color: #29aae2;
	width: 70%;
}

.left, .right {
	float: left;
	font-size: 26px;
	margin-bottom: -20000px; 
	padding-bottom: 20000px;
	height: 100%;
}

div p {
	box-sizing: border-box;
	padding: 10px;	
}



footer {
	background-color: #8cc63f;
	padding: 15px;
	clear: both;
	margin-top: 15px;
}
