@font-face {
  font-family: 'CicleFina';
  src: url('../fonts/cicle-fina.ttf');
}

@font-face {
	font-family: 'HelveticaLT';
	src: url('../fonts/Helvetica-UltraCompressed.otf');
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/bebas.ttf');
}

@font-face {
	font-family: 'Colaborate';
	src: url('../fonts/colabthi.otf');
}

@font-face {
	font-family: 'ColaborateReg';
	src: url('../fonts/colabreg.otf');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome.otf');
}

body {
	font-size: 16px;
	background: url('../img/background.png') repeat;
}



.content {
	max-width: 1044px;
	margin: 0 auto;

	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: stretch;
}

 * {
	box-sizing: border-box;
}

.header {
	width: 100%;
	display: flex;
  	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	
}

	.header * {
		text-decoration: none;
	}
	
	
	
	.logo-block {

	}

		.logo-block h2 {
			margin-left: 10px;
			font-family: Helvetica, sans-serif;
			color: #030303;
			font-size: 40px;
			font-weight: normal;
			display: inline-block;
		}

	.navigation-area {

			display: flex;
			flex-direction: column;
			justify-content: center;
	}

		input[type=checkbox] {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		label { 
			display:none;
			cursor: pointer;
			user-select:none;
		}

		.navigation-area ul {
			padding-left: 0;

		}

		.navigation-area a {
			color: #000;
		}

		.navigation-area a:before {
			vertical-align: middle;
			content: '\2794';
			margin: 0 10px 0 7px;

			color: #faa61a;

			font-size: 8px;
		}

		.navigation-area li {
			display: inline;

		}

.bold {
	font-weight: bold;
}


.main {
	padding: 2px 29px 40px 29px;

	display: flex;
  	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;


	background-color: #faa61a;
}

	.main h1 {
		flex-basis: 100%;
		flex-grow: 1;
		margin-top: 0;
		margin-bottom: 0;

		text-align: center;
		font-family: 'HelveticaLT', Helvetica, sans-serif;
		font-size: 124px;
		font-weight: normal;
	}

	.panda {
		/*width: 632px;*/
		/*height: 364px;*/
		margin: 0;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		background-color: #000;
	}
		.img-container {
			position: relative;
		}
		
		/*.first-img {
			width: 364px;
			height: auto;
		}
*/
		.second-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.short-description {
			width: 180px;
			padding: 10px 0 0 15px;
		}

			.short-description *{
				padding: 0;
				list-style: none;
			}

			.short-description p {
				margin: 5px 0 10px 0;
			}

	.project-description {
		background-color: #fff;
		width: 280px;
	}

		.project-description figure {
			margin: 0;
		}

		.project-description figcaption, p{
			margin-left: 10px;
			margin-right: 10px;
		}
	

.read-more {
	float: right;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: #faa61a;
	padding: 0;
	border: none;
	font-size: 14px;
	height: 24px;
}

	.read-more span {
	height: 24px;
		box-sizing: border-box;	
		padding: 4px;
		color: #fff;
		background-color: #000;
	}

	.read-more:after {
		height: 24px;
		width: 20px;
		content: '\2794';
		vertical-align: middle;
		text-align: center;
		padding-top: 2px;
		display: inline-block;

		font-size: 14px;	
	}


.big-label {
	background-color: #fff;
	padding: 2px;
	font-size: 20px;
}

.label {
	background-color: #fff;
	padding: 2px;
}

.bebas {
	font-family: 'Bebas', Helvetica, sans-serif;
	font-weight: normal;
}

.cicle-fina {
	font-family: 'CicleFina', Helvetica, sans-serif;
}

.colaborate {
	font-family: 'Colaborate', Helvetica, sans-serif;
}

.colaborate-regular {
	font-family: 'ColaborateReg', Helvetica, sans-serif;
}

.description {
	color: #fff;
	font-size: 20px;
}

.tiny {
	font-size: 14px;
}

.orange {
	color: #faa61a;
}

.content-container {
	width: 100%;

	margin-top: 20px;

	display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;

    /*
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
	flex-direction: row;
	align-items: center;*/
}
	.content-container > div {
		border: 30px solid #cdcdcd;
		border-image: url('../img/border.png') 40 repeat;
		font-size: 18px;
		border-left-width: 0px;
	}


	.content-container ul { 
		list-style-type: none;
		/*margin-left: 0;*/
		font-size: 18px;
		padding: 0;
	}

	
	
	.content-container > div:last-child {
		border-right-width: 0px;
	}


	.services {
		min-width: 260px;
		/*flex-basis: 260px;*/
		flex-grow: 3;
    	flex-shrink: 0;
	}

		.services li {
				
				margin: 15px 10px;
			}

		.services li:before {
			height: 24px;
			width: 20px;
			content: '\2794';
			text-align: center;
			box-sizing: border-box;
			margin-right: 10px;
			padding-top: 2px;
			display: inline-block;
			background-color: #faa61a;
			font-size: 14px;
				
		}

	.tip {
		width: 450px;
		flex-grow: 4;
    	flex-shrink: 0;

/*text-size-adjust: none;*/
	}

	.contacts {
		min-width: 200px;
		/*flex-basis: 240px;*/
		flex-grow: 4;
    	flex-shrink: 0;
	}
		.contacts li:before {
			display: inline-block;
			width: 40px;

			font-family: 'FontAwesome';	
			font-size: 30px;
		}
		
		.contacts .mobile:before {
			content: '\f10b';  		}
		
		.contacts .work:before {
			content: '\f095';  
		}

		.contacts .email:before {
			content: '\f0e0';  
		}

		.contacts .address:before {
			content: '\f015';  
		}
		.contacts li div {
			margin-left: -5px;
			display: inline-block;
			vertical-align: top;
		}

		.contacts p {
			margin: 5px 0 5px 0;
		}


.negative {

	color: #fff;
	background-color: #000;
}

.clients {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
	flex-direction: row;
	align-items: stretch;


}
	
	.clients h4 {
		width: 100%;
		font-size: 18px;
		margin-left: 25px;
	}

	.at-t {
		background: url('../img/clients.png') no-repeat 0 -48px;
		width: 92px;
		height: 43px;
	}

	.inc {
		background: url('../img/clients.png') no-repeat -188px -63px;
		width: 79px;
		height: 28px;
	}

	.autoimmune {
		background: url('../img/clients.png') no-repeat -364px -28px;
		width: 74px;
		height: 61px;
	}

	.visa {
		background: url('../img/clients.png') no-repeat -524px -63px;
		width: 80px;
		height: 27px;
	}
	
	.polar {
		background: url('../img/clients.png') no-repeat -718px -13px;
		width: 69px;
		height: 77px;
	}

	.gap {
		background: url('../img/clients.png') no-repeat -892px -30px;
		width: 60px;
		height: 60px;
	}

.footer {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-elements: center;

}
	.footer * {
		text-decoration: none;
	}



	.footer .logo-block {
		margin-right: 25px;
	}

	.footer h2{
		font-size: 24px;
	}

	.footer .logo {
		width: 30px;
	}

	.small-navi {
		flex-grow: 1;
	}

	.small-navi a:before {
		content: "";
	}

	.footer .navigation-area {
		border-bottom: 1px solid #cdcdcd;
		font-size: 12px;
	}
	
	.footer .navigation-area ul {
		margin-bottom: 5px;
		margin-top: 15px;
    	text-align: right;
	}

	.copyright {
		text-align: right;
	}




@media all and (max-width: 1030px) {

	.main h1 {
		font-size: 120px;
	}
}

@media all and (max-width: 1000px) {
	.main {
		padding: 0 0 20px 0;
		justify-content: center;

	}
	.main h1 {
		font-size: 110px;
	}

	.navigation-area a:before {
		margin: 0 4px 0 4px;
	}


}

@media all and (max-width: 962px) {

	.header, .main, .content-container{
		flex-direction: column;
		align-items: center;
	}

	.main h1 {
		font-size: 80px;
	}

	.main > * {
		width: 80%;
		margin: 5px 0 5px 0;
	}

	.project-description img {
		float: left;
		margin-right: 10px;
	}
	

	.content-container {
		align-content: stretch;
	}

		.content-container > div {
			width: 80%;

			border-left-width: 30px;
			border-top-width: 0px;
		}

		.content-container > div:last-child {
			border-right-width: 30px;
			border-bottom-width: 0px;
		}
}


@media all and (max-width: 790px) {
	.main h1 {
		font-size: 60px;
	}

	.panda {
	}

	.panda .first-img {
		width: 100%;
	}
}


@media all and (max-width: 630px){

	.footer h2 {
		display: none;
	}

	.footer .logo {
		width: auto;
	}
}

@media all and (max-width: 570px) {
	.panda {
		flex-direction: column;
		align-items: flex-start;
	}
	.short-description {
		width: 90%;
	}

	.project-description img {
		float: none;
		max-width: 100%;
	}
}

@media all and (max-width: 562px) {
	.header .navigation-area {
		width: 100%;
	}

	.header ul {
      display:none;
      height:100%;
      margin-top: 0;
    }
	
	.header li {
		display: block;
	}

    label {
      position:relative;
      display:block;
      width:100%;
      min-height:40px;
      padding: 5px;
      margin-bottom: 10px;
      background-color: #faa61a;
    }	

    label:before {
      content:"\2261";
      font-size:30px;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
    }
}


@media all and (max-width: 470px) {
	.footer li {
		display: none;
	}
	.footer .copyright {
		margin-top: 0;
	}
}

@media all and (max-width: 350px) {
	.main h1 {
		font-size: 40px;
	}

	.header h2 {
		font-size: 25px;
	}

	.header .logo {
		width: 30px;
	}
}